# List of databases that you want to test. They should be up and running before you start the benchmark
# Currently possible entries: MONGO, MYSQL, NANODB, POSTGRES,
[DB]
TEST_TARGET=POSTGRES

# PostgreSQL section
USER=benchmark
PASSWORD=ntels!23
HOST=192.168.10.77
PORT=35432
DB=benchmark

[TEST]
# Number of tests in each category to calculate average from
N_TESTS=10000
N_MAX_KEY=10000000

# Percentage of each test part
# Multi test process : INSERT -> MULTI_INSERT -> SELECT(SINGLE, JOIN) -> UPDATE -> DELETE 
P_INSERT=20
P_MULTI_INSERT=80
P_SELECT_SINGLE=0
P_SELECT_JOIN=0
P_UPDATE=0
P_DELETE=0

# Check for create table before test
# B_CREATE=False
B_CREATE=True
N_TABLE_COUNT=5

# Number of multiprocess for Parallel Test
N_PROCESS=5

# Used when run test single table parallelism
B_PARALLEL_RUN=True

# Multi Row Insert unit
N_MULTI_INSERT_ROW_UNIT=100